[2018-07-21 09:59] star-buck opened #1 "FF: missing, stable ships FF-ESR"

[2018-07-21 09:59] star-buck opened #2 "simplemenu: missing/not working, lets use dash"

[2018-07-21 10:00] star-buck opened #3 "Calamares: icon on Desktop missing"

[2018-07-23 05:25] shadeslayer commented on #2
I doubt we'll be able to make simplemenu work reliably with a older plasma release. I recommend that we switch to a different launcher.

[2018-07-23 07:07] star-buck commented on #2
Is simplemenu packaged in stable itself?

On Jul 23, 2018 7:25 AM, "Rohan Garg" <notifications@github.com> wrote:

[2018-07-23 11:52] star-buck opened #4 "wallpaper: remove 18.03 idolon, use linked as default"
https://www.dropbox.com/s/scq0f8yb1xm79l1/netrunner-core.png?dl=0

[2018-07-23 11:53] star-buck commented on #2
lets use dash then default

[2018-07-23 11:54] star-buck opened #5 "FF-ESR: in-program font seems to be very thin, config not applied correctly?"

[2018-07-23 11:56] star-buck opened #6 "FF-ESR: needs ESR configs applied (instead of quantum ones)"

[2018-07-23 11:57] star-buck commented on #1
lets ship that on core

[2018-07-23 12:02] llelectronics commented on #2
Applied: https://github.com/netrunner-artwork/artwork-lnf-netrunner-core/commit/17d72b8a448a6c0ad0102d0733c3062aefe59b21

[2018-07-23 14:35] star-buck commented on #4
forget the above, use this one:
https://www.dropbox.com/s/rukd6hmxzsrfwkc/netrunner-core-wall.png?dl=0

[2018-07-23 15:15] #2 closed, assigned to shadeslayer, llelectronics

[2018-07-23 15:43] llelectronics opened #7 "Systemsettings kservices need update (broken modules)"
Systemsettings look a bit weird with the "old" icon view (too many catgeories and some icons look out of place). Fonts & Font Settings which includes Fonts module for example.
Some modules are not working/accessible like Workspace Behavior -> Workspace.

- Touchscreen
- Network Settings -> Connections
- Input Devices -> Mouse
- Others -> Launch Feedback
- Others -> Systemd

[2018-07-23 16:29] NuLogicSystems commented on #7
I already updated this in github for Plasma 5.13.
If your still packaging for 5.12.x, you'll need to use the prior commit from February.
https://github.com/ds9-common/default-systemsettings-settings/commits/master

[2018-07-23 16:35] llelectronics commented on #7
We are packaging for Plasma 5.8 now in Netrunner Core :P

[2018-07-23 16:37] NuLogicSystems commented on #7
Hmm, I'm not that familiar with Debian packaging.
Can you not cherry pick during packaging?

I do apologize, I was just trying to do as I was instructed.

[2018-07-23 16:40] llelectronics commented on #7
We could do a configuration especially for Plasma 5.8 but I think starbuck wants it also to live in a separate git repo then.
So we'll see.

[2018-07-23 17:01] NuLogicSystems commented on #7
Well, systemsettings for Rolling is also in a separate git repo, but I was asked to "see if you can copy them over to the netrunner debian repos."

On retrospect, maybe I should have made a separate branch for these upstream changes to Plasma 5.13.

[2018-07-23 17:08] llelectronics commented on #7
It is not your fault at all. We made the decision for Netrunner Core to use Debian stable as base instead of testing. This means instead of Plasma 5.13 -> Plasma 5.8.
Though we still have Plasma 5.13 for the "normal" Netrunner version (the non core one) so that it is very useful to have those changes for it.
As we just started basically on Netrunner Core development. I added this task purely as re

[2018-07-23 17:58] NuLogicSystems commented on #7
Just a thought , but couldn't you just pull from the netrunner/18.03 branch?
It's at the commit right before I made those changes.

[2018-07-23 18:09] llelectronics commented on #7
We'll see. I am not convinced that this will even work with Plasma 5.8. But that needs testing first.

[2018-07-24 08:10] star-buck opened #8 "about: change OS Version to "Netrunner Core 19.01""

[2018-07-24 08:24] llelectronics commented on #8
Done with this commit: https://github.com/netrunner-core/base-files/commit/deb61d1e21023fcfa9055d79ce5d9101b9fe416d

[2018-07-24 10:27] llelectronics commented on #1
Should be there in next ISO: https://github.com/netrunner-core/netrunner-core/commit/489e7d97d2c8809031dec346e53bb2dbb5040760
Panel fix: https://github.com/netrunner-artwork/artwork-lnf-netrunner-core/commit/bb5947a1dd765d77032e216447ffb69c760374e8

[2018-07-24 11:37] llelectronics commented on #6
Firefox-ESR in Debian seems to be broken in general as it ignores its own config files in /etc/firefox-esr.
This bug report covers it partly (I send my notes to it): https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=828050
Workaround is in place now which should fix the issue for us for now: https://github.com/netrunner-common/netrunner-settings-firefox/commit/432a58622d24b90b9f5b75b1533a04f75d578

[2018-07-24 11:39] llelectronics commented on #5
You mean the menu and bookmark entries?
The fonts on websites look ok to me.
Reapplying the GTK-Font Settings fixes the issue with menu and bookmark entries.

[2018-07-24 12:06] llelectronics commented on #5
This commit is the cause of the "weird" fonts in firefox. We changed it deliberately for all gtk-3.0 apps
https://github.com/netrunner-common/netrunner-settings-theming/commit/6a97b0e1eeb932f1f1e37263980d6530b47336d7

Should I revert this commit?

[2018-07-24 12:30] star-buck commented on #5
FF font in 18.03 Idolon seems okay though?

[2018-07-24 12:32] llelectronics commented on #5
Strange then. Changing it back and the fonts look ok

[2018-07-24 12:53] shadeslayer commented on #7
We can potentially ship the customised version of the desktop file in the netrunner-core specific settings path?

[2018-07-24 13:11] llelectronics commented on #7
Yes we can do this. We just need to make sure it is prioritized over the ds9 one

[2018-07-24 14:52] shadeslayer commented on #7
Everything in usr/share/netrunner-core-settings/plasma5-profile/ is prioritised over usr/share/default-settings/plasma5-profile/

[2018-07-25 08:06] star-buck commented on #8
remove "- Idolon" though:
![snap 2018-07-25 at 10 05 21](https://user-images.githubusercontent.com/840070/43187669-5c55f96a-8ff2-11e8-8b0d-2c9553c81e5e.png)

[2018-07-25 08:20] llelectronics commented on #8
Done: https://github.com/netrunner-core/base-files/commit/fbed00134bed651370b9294c69d9e065a87878e9

[2018-08-04 16:39] star-buck opened #9 "there is firefox and firefox-esr logo in menu? also panel there is firefox logo linked, but not esr"
so we go with ESR or again with quantum?
if ESR, we need to adjust panel and menu, not sure where the ff-quantum logo comes from.

[2019-01-06 23:59] star-buck opened #10 "novnc: check version if it does work with touch and mouse"
Should be fixed in master:
https://groups.google.com/forum/m/#!topic/novnc/bOpKeuZCd7s

[2019-01-13 21:38] star-buck opened #11 "Netrunner Core 19.01 - ISOs"
post links to ISOs here.

[2019-01-14 13:18] #4 closed, assigned to shadeslayer, llelectronics

[2019-01-14 13:19] star-buck opened #12 "Apply Core LNF theme correctly, so its got Breeze icons, breeze window deco, etc."

[2019-01-14 13:19] star-buck opened #13 "remove "web-menu" package with webapps"

[2019-01-14 14:20] #6 closed, assigned to shadeslayer, llelectronics

[2019-01-14 14:20] #5 closed, assigned to shadeslayer, llelectronics

[2019-01-14 14:20] #1 closed, assigned to shadeslayer, llelectronics

[2019-01-14 14:20] #3 closed, assigned to shadeslayer, llelectronics

[2019-01-14 14:21] #9 closed, assigned to shadeslayer, llelectronics

[2019-01-14 14:22] star-buck opened #14 "FF ESR: first time run, complaints about missing configuration, but then starts and works okay"

[2019-01-15 12:16] llelectronics commented on #14
I think I fixed the bug. The wrong configuration file was set for FF-ESR: https://github.com/netrunner-common/netrunner-settings-firefox/commit/116f127fb5cbf2b3f03792b31f702a411a3924da

[2019-01-15 12:20] llelectronics commented on #13
Done: https://github.com/netrunner-core/netrunner-core/commit/001247d4459ad052b32df52671773bb98ff43af4

[2019-01-15 12:20] llelectronics commented on #12
Should be fixed with: https://github.com/netrunner-core/netrunner-core-settings/commit/370cbdc277523d9daf3e611bf0fcba2660fd5c2d
and
https://github.com/netrunner-core/netrunner-core-settings/commit/d7558e28d7652068c9b57442ada52ae1646ae814

[2019-01-15 12:24] llelectronics opened #15 "REMINDER: Switch from DCI Repos to deb.netrunner Repos"
We need to switch from "live" dci repo to deb.netrunner.com repo for the final version.

[2019-01-15 13:02] llelectronics commented on #11
ISO with hopefully theming + firefox + base-files fixed: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/stretch/amd64/netrunner-core/netrunner-core-20190115.1232-amd64.hybrid.iso

[2019-01-15 15:11] star-buck opened #16 "Netrunner Core 1901 ISO based on buster"
Do livebuild of a buster based ISO and post link here

[2019-01-16 14:07] llelectronics commented on #11
First ISO based on Buster ready for testing: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/amd64/netrunner-core/netrunner-core-20190116.1339-amd64.hybrid.iso

[2019-01-16 17:08] llelectronics commented on #11
Second bugfixed ISO based on Buster: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/amd64/netrunner-core/netrunner-core-20190116.1638-amd64.hybrid.iso

[2019-01-16 21:59] star-buck opened #17 "Desktop: Readme: point to http://www.netrunner.com/readme-core/"

[2019-01-16 22:00] star-buck opened #18 "FF: starting it has an active left sidebar showing ublock"

[2019-01-16 22:01] star-buck opened #19 "FF-ESR: doesnt have the plasma integraton addon (should we switch to non-esr now that we use buster?)"

[2019-01-16 22:04] star-buck opened #20 "Core LNF: use simplemenu"

[2019-01-16 22:08] star-buck opened #21 "Overall: how to reduce memory footprint"
Please download latest ISO and post ideas here.

[2019-01-16 22:08] star-buck opened #22 "Overall: How to reduce ISO size"

[2019-01-16 22:13] #8 closed, assigned to shadeslayer, llelectronics

[2019-01-16 22:13] #7 closed, assigned to nobody

[2019-01-16 22:14] #16 closed, assigned to shadeslayer, llelectronics

[2019-01-16 22:14] star-buck commented on #12
please add green label, thanks.

[2019-01-16 23:00] star-buck commented on #21
This is memory after fresh start of 16.09:
![screenshot_20190116_232811](https://user-images.githubusercontent.com/840070/51284108-a868e880-19ea-11e9-896b-6b63b511c75a.png)

Compare to 19.01:
approx 550 MB (screenshot will follow)

[2019-01-16 23:15] davidedmundson commented on #21
@chinmoyrp @zzag FYI, image is here:
http://ds9-eu.s3-website.eu-central-1.amazonaws.com/#!/dci%2Fimages%2Fnext%2Famd64%2Fnetrunner-desktop%2F

[2019-01-17 01:45] davidedmundson commented on #21
As the other screenshot didn't follow, here's mine from virtualbox. It shows us up at the 580Mb.

![virtualbox_netrunner_17_01_2019_01_26_26](https://user-images.githubusercontent.com/2776077/51289120-f1269e80-19f6-11e9-87fe-48bab07b016e.png)

One relevant observation is taking us back to the default theme loses 70Mb straight away.

![virtualbox_netrunner_17_01_2019_01_28_27_default](https://user-

[2019-01-17 07:38] llelectronics commented on #21
This thread is about core release and not the desktop release. The core release uses breeze for window decoration and widget theme.
You can get the newest from here: http://ds9-eu.s3-website.eu-central-1.amazonaws.com/#!/dci%2Fimages%2F1901%2Famd64%2Fnetrunner-core%2F

[2019-01-17 09:50] llelectronics commented on #19
A mistake. The extension is only visible for the normal FIrefox version not FF-ESR.
I recommend sticking with FF-ESR for Core as this version gets auto updated with security updates by Debian.

[2019-01-17 10:17] llelectronics commented on #18
Fixed with: https://github.com/netrunner-common/netrunner-settings-firefox/commit/9859005235196bffb2ed90c5a46822830538d856

[2019-01-17 10:24] llelectronics commented on #20
Fixed with: https://github.com/netrunner-artwork/artwork-lnf-netrunner-core/commit/267081f7e9caac406c2e85a9c3b15741496b356c

[2019-01-17 10:30] llelectronics commented on #21
Here a screenshot from a freshly booted Core 19.01
![image](https://user-images.githubusercontent.com/3415572/51312342-55734d80-1a4b-11e9-98bf-ef1d30f77ddc.png)

As you can see here plasmashell is eating more RAM for some reason. We did not change much in the overall setup like widgets aren't there. Just a panel with one icon more and folderview desktop

[2019-01-17 10:37] llelectronics commented on #22
Here a list of packages and their sizes on 19.01 core currently:
[list_packages_core_1901.txt](https://github.com/blue-systems/netrunner-core-releases/files/2768239/list_packages_core_1901.txt)

[2019-01-17 10:43] llelectronics commented on #22
From that list one can see libicu60 we can get rid off. Nodejs is apparently installing it as dependency. However something might recommend nodejs I am not sure currently which package though. So it removes nodejs and some other packages. All of them not necessary for Core imho
![image](https://user-images.githubusercontent.com/3415572/51312980-c8c98f00-1a4c-11e9-9137-b263f52cbb3d.png)
Same goes f

[2019-01-17 10:48] zgrimshell commented on #22
apt rdeps nodejs should help here

[2019-01-17 10:54] zgrimshell commented on #21
Is this freshly booted on machine or VM? Also not sure for live session, but Xorg shouldn't be root nowdays anymore. That said - I personally don't think yakuake should be in default installations (not something I would at all recommend to average Joe and it is just another terminal so overhead if we have Konsole already. What is websockify? Not sure why plasma got fatter but this overall is not t

[2019-01-17 10:55] llelectronics commented on #22
You mean apt rdepends nodejs. Yeah not really it gives a long long list. Anyway I added some of the packages to the be removed by live-build. See: https://github.com/netrunner-core/live-build/commit/1bebdd3aa664588c3a4db073c77ff02b05cca822

[2019-01-17 10:57] zgrimshell commented on #22
yes, nodejs does have a long list but that is how you do the check (you could run one file against other to check what they have in common)

[2019-01-17 10:59] zgrimshell commented on #22
checked the list, good that nodejs is going out from default :)

[2019-01-17 10:59] llelectronics commented on #21
This is booted in a VM.
Yakuake is what we ship by default since ages. Its part of our branding that we ship this by default and have a panelicon to click to open it.
websockify is the daemon for accessing Netrunner Core via NoVNC from the browser.

[2019-01-17 11:00] notmart commented on #21
i notice that if i put the default wallpaper instead of that one, it becomes around ~105 mb instead of ~113.. maybe there isn't a wallpaper of the proper size provided?

[2019-01-17 11:03] hsitter commented on #22
I think you need to get a list of compressed package sizes. Given the squashfs of the ISO is hopefully compressed (@shadeslayer is it?) the uncompressed size of packages means nothing. Case in point: libgl1-mesa-dri compressed should be like 6mib

[2019-01-17 11:09] shadeslayer commented on #22
It's compressed.

[2019-01-17 11:12] shadeslayer commented on #19
Regular FF is not available for testing, but only in Sid. This is on purpose. I agree that we should stick to ESR.

[2019-01-17 11:16] zgrimshell commented on #19
FYI FF packages are pretty standalone so you can mirror/add something from (which is officially used for builds) from http://mozilla.debian.net/

[2019-01-17 11:16] llelectronics opened #23 "Software-Properties creates /etc/apt/trusted.gpg"
software-properties like on desktop creates a /etc/apt/trusted.gpg file everytime it is opened.
This causes a big fat warning on apt update and in synaptc.

On Desktop I did a nasty workaround by adding a hook which downloads the Ubuntu version of software-properties which does not suffer from this.

We need to find a way to ether fix this asap in Debian Testing (its in soft freeze and would be a

[2019-01-17 11:17] notmart commented on #21
using kickoff instead of dashboard becomes ~97 (not sure how much is possible to do further optimization in dashboard, the thing is that is bigger with bigger graphics, so is normal that will take up more than a small menu)

the win7 mixer also seems to take around 2mb more than the default one (but that is a small difference)

i don't see much more differences with stock..
using the default look

[2019-01-17 11:18] llelectronics opened #24 "Software-Properties not starting due to missing Netrunner-Core/buster"
software-properties is reading python-apt templates. We provide a template for Netrunner only so far including testing.
I suggest we switch /etc/os-release ID to Netrunner for core so it uses the same file and add just a buster section to our existing python-apt template.
Ideas welcome. Especially why we had it set to Netrunner-Core in the first place.

[2019-01-17 11:41] star-buck commented on #19
How we have FF in desktop?

[2019-01-17 11:44] llelectronics commented on #19
We imported the SID package to our plasmazilla component in repo

[2019-01-17 11:47] star-buck commented on #19
Oh okay. So how does it get any updates?

[2019-01-17 11:53] llelectronics commented on #19
It doesn't (its basically stuck at the same version forever. Like we did for previous releases)

[2019-01-17 11:54] shadeslayer commented on #19
@zgrimshell mozilla.debian.net instructs us to add the debian unstable repo to get Firefox. I don't think that's feasible for us

[2019-01-17 11:57] shadeslayer commented on #23
Waiting on juliank to upload a new version of the package. I've pinged him again just now.

[2019-01-17 12:02] star-buck commented on #19
Yeah, we want stable only.

[2019-01-17 15:17] llelectronics commented on #11
Next ISO: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/amd64/netrunner-core/netrunner-core-20190117.1201-amd64.hybrid.iso

[2019-01-17 15:17] llelectronics commented on #18
Not really fixed. Initially there is no sidebar but it keeps loading after a while.
edit: No clue how to get rid of this.

[2019-01-17 15:22] llelectronics commented on #22
Removing some of the packages like stated before resulted in a slight improvement:
`-rw-r--r--  1 leszek leszek 1739718656 Jan 16 18:07 netrunner-core-20190116.1638-amd64.hybrid.iso`
`-rw-r--r--  1 leszek leszek 1677721600 Jan 17 14:12 netrunner-core-20190117.1201-amd64.hybrid.iso`

[2019-01-17 15:26] llelectronics opened #25 "GTK Theme uses Blackbird"
As the GTK Theming is taken from our netrunner-settings-theming it is using blackbird instead of breeze.

I think we need to maybe split out gtk theming settings or find another way to ship a different gtk theming configuration for core.

Suggestions welcome.

[2019-01-17 15:44] llelectronics commented on #21
Newest image fresh after boot with simple menu instead of dash. I don't see much of a difference so far.
![image](https://user-images.githubusercontent.com/3415572/51330099-25da3a80-1a77-11e9-8fc2-9fc618524e37.png)

[2019-01-17 17:44] star-buck commented on #21
Is caching the various noto font variants measuerasle somewhere?

[2019-01-17 17:52] star-buck commented on #25
Note: Would be awesome if LNF could handle this too for consistency.

[2019-01-18 10:31] notmart commented on #21
as comparison, on neon devedition unstable, i get pretty much the same memory on same screen resolution

[2019-01-18 11:19] kbroulik commented on #21
Doesn't it initially preload everything and then as you start using it a bit more it learns what applets you use and as such memory consumption will drop after a few days?

[2019-01-18 17:53] llelectronics opened #26 "Netrunner Core 19.01 - IMGs"
Here is the first IMG of Netrunner Core for the C1:
http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/armhf/netrunner-core/C1/netrunner-core-20190118.1723-armhf.img.gz

Expected problems should be with the Calamares config as it still uses the old fs_resize and terminal module (or tries to use it)
I did not test it yet.

[2019-01-19 08:00] star-buck commented on #26
Flashed two cards, but when turning on, the blue light doesnt go into heartbeat/blinking/booting mode.

[2019-01-21 10:01] notmart commented on #21
16.09 didn't have applets popups preloading yet.
disabling preloading completely (PLASMA_PRELOAD_POLICY=none) gives similar results (around ~80MB) tough reintroducing the lag the first time a popup is opened

with 16.09 (with a resolution of 1024x768, apparently is the max resolution supports in virtualbox here) starts at @87MB, once i open all the popups once, goes to ~107MB

with the latest iso

[2019-01-21 11:16] star-buck commented on #21
Interesting stuff

[2019-01-22 13:05] llelectronics commented on #26
Second IMG. This one should ship with the old BSP 3.10.10x kernel and work: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/armhf/netrunner-core/C1/netrunner-core-20190122.1227-armhf.img.gz

[2019-01-23 11:00] llelectronics commented on #26
Third Img: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/armhf/netrunner-core/C1/netrunner-core-20190123.1033-armhf.img.gz

[2019-01-23 18:14] #15 closed, assigned to nobody

[2019-01-23 18:56] star-buck opened #27 "C1: no hdmi output (or wrong resultion?)"
1701 worked with attached screen, but 1901 has black screen from start

[2019-01-23 18:58] star-buck opened #28 "C1: some screen artifacts over novnc"
current img still has some artifcats where 18701 had none, e.g.
![snap 2019-01-23 at 17 45 31](https://user-images.githubusercontent.com/840070/51629954-2b3cf680-1f49-11e9-8350-059d80adb1bb.png)

[2019-01-23 18:58] #20 closed, assigned to shadeslayer, llelectronics

[2019-01-23 18:58] #14 closed, assigned to shadeslayer, llelectronics

[2019-01-23 18:58] #13 closed, assigned to shadeslayer, llelectronics

[2019-01-23 20:21] star-buck opened #29 "novnc: window in browser is no longer initially focused"
changing behaviour from 1701:
- when first time connecting to novnc, the window is not focussed.
- the initial window had a yellow frame when successfull connecting, now just stays grey
- initial window already is sized, where previously had a smaler size when asking for credentials and then scaled to whatever resolution was set when connected.

the last two issues are just observations, the first

[2019-01-24 10:48] llelectronics commented on #29
The last two are changes in the novnc code.
The size is changed as we now let novnc not search for the screen but tell it to use the screen :0 by default. So it knows its resolution and directly sets it.

[2019-01-24 11:06] llelectronics commented on #28
Changing the bpp to 16 or 24 does not change anything here.

[2019-01-24 11:55] llelectronics commented on #29
window not being focused seems to be a novnc change. I can't get it to work without clicking first into the window.
**edit:** Installing the stonage version of novnc from stable makes this work.

[2019-01-24 12:29] llelectronics commented on #29
Created an upstream bug report here: https://github.com/novnc/noVNC/issues/1194

[2019-01-24 12:31] llelectronics commented on #28
Older novnc version (0.4 from Stable) shows the same behavior.

[2019-01-24 14:13] llelectronics opened #30 "C1: Calamares not starting because of deferred_remove module not found"
Needs to set the correct module path or move the module to the correct path.

[2019-01-24 16:51] llelectronics commented on #26
Next Img: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/armhf/netrunner-core/C1/netrunner-core-20190124.1626-armhf.img.gz

[2019-01-24 22:44] #17 closed, assigned to shadeslayer, llelectronics

[2019-01-30 23:04] star-buck opened #38 "windows decorations: remove "context help" button from being active/selected (likely affects all core (or even desktop) versions?)"
even though one cannot see it due to preview bug, one can see the "?" button is active in the system settings window deco itself:
![snap 2019-01-30 at 23 56 34](https://user-images.githubusercontent.com/840070/52018753-c0149680-24eb-11e9-9b42-fcd54bbfa496.png)

[2019-02-05 09:25] llelectronics commented on #23
The new version is waiting in Debians queue to be accepted in experimental.
Local builds of the source shows that it is indeed working without creating a broken trusted.gpg file.

As it will take a bit longer for it to be imported to Debian and Testing (not sure if it will land in buster even) I copied the code over here: https://github.com/dci-extras-packaging/software-properties
It just needs ad

[2019-02-05 09:31] llelectronics commented on #28
Setting the compositors vsync setting to **Never** does not get rid of all of the artifacts but most of them are gone. Especially the one when opening up yakuake.

[2019-02-05 09:44] star-buck commented on #28
Great find.

[2019-02-05 09:46] star-buck commented on #23
This is a great usecase for you and Scarlett to see in detail how this is
done for dci.

[2019-02-05 11:47] ScarlettGatelyMoore commented on #23
Unfortunately I am heading out soon for appointment, but I am almost positive that running job-updater.rb in pangea-tooling will achieve this. There are flags that need to be passed that can be determined in the code.

[2019-02-05 11:52] llelectronics commented on #23
Yes I ran the `jenkins_jobs_update.rb --ci dci` code already. Now the question should it pick the repo up immediately after that? If yes this isn't the case.

[2019-02-06 17:21] llelectronics commented on #11
New ISO with software-properties fix: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/amd64/netrunner-core/netrunner-core-20190206.1648-amd64.hybrid.iso

[2019-02-08 11:10] llelectronics commented on #26
C1 Img: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/armhf/netrunner-core/C1/netrunner-core-c1-20190208.1027-armhf.img.gz

[2019-02-08 11:10] llelectronics commented on #11
Fixed Wallpaper: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/amd64/netrunner-core/netrunner-core-20190208.1007-amd64.hybrid.iso

[2019-02-08 13:08] star-buck opened #31 "Reminder: Cala: hide "resize_fs" module again, as it is no longer needed for visual control"
- instead an info that its doing a resize would be sufficient during installation and slideshow
- this affects ARM versions

[2019-02-08 16:31] llelectronics commented on #11
New ISO with fixed firefox localization installation & libdvd-pkg nagging: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/amd64/netrunner-core/netrunner-core-20190208.1352-amd64.hybrid.iso

[2019-02-08 16:38] star-buck opened #32 "FF: adding bookmarks by droppping them in the bookmark toolbar doesnt work"

[2019-02-08 16:39] star-buck opened #33 "FF-ESR: History doesnt show any entries"

[2019-02-08 16:39] star-buck commented on #33
ill test latest iso, maybe its because of plasmazilla version still there...

[2019-02-08 16:48] star-buck opened #34 "Core: Wallpapers: img from yesterday shipped wrong wallpapers (will test new ISO later tonight)"
on there is  OLD idolon and wrong Z2:
![screenshot_20190208_174614](https://user-images.githubusercontent.com/840070/52492489-98978b00-2bc9-11e9-98e2-dd096f96afe6.png)

[2019-02-08 17:02] llelectronics commented on #34
Yes we install the old idolon wallpaper as specified for 18.08 and did not change this so far. So even the latest ISO includes this wallpaper.
The default wallpaper is correctly set to Netrunner Core though for the latest ISO.

[2019-02-08 17:04] star-buck opened #35 "novnc: still heavy visual glitches (not sure if the vsync was applied here?)"
![snap 2019-02-08 at 17 25 34](https://user-images.githubusercontent.com/840070/52493529-fb8a2180-2bcb-11e9-96bf-8c43033865b0.png)

[2019-02-08 17:06] star-buck commented on #34
please remove 1803 idolon wallpaper (obvsiously this wouild have been changed for 1808 if it was close to release as with 1901 Desktop and every series-specific wallpaper before)

[2019-02-08 17:07] star-buck commented on #11
please rebuild with wallpaper 1803 idolon removed then, so i skip downloading this one.

[2019-02-08 17:24] star-buck commented on #35
also text:
![snap 2019-02-08 at 14 04 33](https://user-images.githubusercontent.com/840070/52494646-d0550180-2bce-11e9-8f37-829a60bc33a2.png)

[2019-02-08 17:35] llelectronics commented on #35
Vsync should be set to never in compositor settings.
Though yeah not all glitches are going away with this. But its much more usable than before. (where it drew triangles over half of the screen)

The cause in general needs to be investigated more. As novnc runs fine on other platforms I am suspecting the graphics driver.

[2019-02-08 18:49] star-buck opened #36 "C1: before C1 boots, there is a 30-45 seconds wait state that does nothing, even though the device starts blinking"
1701 img for C1 booted immediately.

[2019-02-08 21:09] llelectronics commented on #11
Rebuild if idolon wallpaper removed: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/amd64/netrunner-core/netrunner-core-20190208.1912-amd64.hybrid.iso

[2019-02-08 21:11] llelectronics commented on #36
On first glance it does not seem to be the libnss-systemd issue we hit before once as that package shouldn't be installed.
For some reason my debug output is not working (its detecting the usb serial debug but I don't get any output).
Maybe **systemd-analyze blame** might tell us what is keeping it waiting.

[2019-02-08 23:35] star-buck commented on #36
i think it happens before systemd is even involved... more like when initilaizing the bios takes too long or the sdcard doesnt respond right away.

[2019-02-09 11:43] star-buck commented on #34
looks good

[2019-02-09 11:43] #34 closed, assigned to llelectronics

[2019-02-09 13:36] #24 closed, assigned to shadeslayer, llelectronics

[2019-02-09 13:38] star-buck opened #37 "apt repos: when adding backports, there is then a firefox-esr-lang package that apt reports is held back though"
not sure if this is a potential issue or just needs or can be corrected easily:
![screenshot_20190209_143645](https://user-images.githubusercontent.com/840070/52521495-38135700-2c78-11e9-8fab-29448ca5fc00.png)

[2019-02-09 13:38] #12 closed, assigned to llelectronics

[2019-02-09 13:39] #19 closed, assigned to shadeslayer, llelectronics

[2019-02-09 13:39] star-buck commented on #23
@llelectronics : is fixed?

[2019-02-09 13:39] #33 closed, assigned to llelectronics

[2019-02-09 13:40] #32 closed, assigned to llelectronics

[2019-02-09 13:41] star-buck commented on #31
this is a reminder that in the next days we should look into a more proper, non-debugging looking way of handling the resize visually either with a module or part of whole installation procedure.

[2019-02-09 13:43] star-buck commented on #25
this was gtk2-theming only, right? also root/admin-related in case of mint-update or all gtk2 theming?

[2019-02-09 13:43] #27 closed, assigned to shadeslayer, llelectronics

[2019-02-09 13:43] #30 closed, assigned to llelectronics

[2019-02-09 13:45] star-buck commented on #18
i wonder if it magically fixed itself with latest core ISO?

[2019-02-09 14:53] llelectronics commented on #23
Yes

[2019-02-09 15:02] star-buck commented on #23
was missing green label, thats why i asked

[2019-02-09 15:02] #23 closed, assigned to shadeslayer, llelectronics

[2019-02-10 10:38] star-buck commented on #38
@llelectronics : was this only core versions or desktop too?

[2019-02-11 09:46] llelectronics commented on #37
Firefox-ESR-Plasma was still in backports. I removed it now from it so it shouldn't appear anymore.

[2019-02-11 09:52] llelectronics commented on #36
Found out that systemd-analyze blame cannot run as "bootup did not finish". The culprits for this are the apt-daily and apt-daily-upgrade services.
After 14 Minutes I get a systemd-analyze output.
I think we should disable both of those services as all they do is run apt update and apt upgrade if defined for unattended security updates in the background.

For the record I am not saying that those

[2019-02-11 11:23] llelectronics commented on #38
Only core as desktop has this already here: https://github.com/netrunner-desktop/netrunner-desktop-settings/commit/48bd43e97131c942597d34eb6e41f7ff22d9b4b7

[2019-02-11 21:07] star-buck commented on #38
latest img c1:
![snap 2019-02-11 at 16 10 31](https://user-images.githubusercontent.com/840070/52593500-68f6b600-2e49-11e9-9a87-4e85d627eec6.png)

[2019-02-12 18:08] star-buck opened #39 "remove additional wallpapers"
at least on C1, not sure why those ended up on there default or after an update:
![snap 2019-02-12 at 19 05 54](https://user-images.githubusercontent.com/840070/52657699-87b48580-2ef9-11e9-8570-4b21e38e38b0.png)

[2019-02-13 10:03] llelectronics commented on #39
Yeah a typo apparently. Fixed with: https://github.com/netrunner-zeronet/c1-live-build-zeronet/commit/28c5f7de09293dac2af503ce60ef06fcf6b88aed

[2019-02-13 11:55] llelectronics commented on #31
This is fixed for zeronet already. But wasn't fixed for C1 Core version.
Done this now: https://github.com/netrunner-odroid/c1-calamares-core/commit/3cea47c1d3e74206bc560e790091a7d94dd970c4

[2019-02-13 22:09] #39 closed, assigned to llelectronics

[2019-02-13 22:09] #31 closed, assigned to star-buck, adriaandegroot

[2019-02-13 22:09] #38 closed, assigned to shadeslayer, llelectronics

[2019-02-13 22:12] star-buck opened #40 "ff-esr: plasma integration package error"
![snap 2019-02-13 at 23 11 27](https://user-images.githubusercontent.com/840070/52747711-ca06c100-2fe4-11e9-936d-73f281cdefb5.png)

[2019-02-14 08:53] kbroulik commented on #40
Is that package installed? Is the `plasma-browser-integration-host` binary available? Does the config file in /usr/share/mozilla/native-messaging-hosts point to the correct binary?

[2019-02-23 19:36] star-buck opened #41 "install package: net-tools"

[2019-02-23 19:36] star-buck commented on #41
curiously when installing net-tools, i discovered this message:
![snap 2019-02-23 at 20 35 42](https://user-images.githubusercontent.com/840070/53290871-b1e42e00-37aa-11e9-9891-83f51586de2a.png)

[2019-03-03 22:14] star-buck opened #42 "C1: update all packages for new img"

[2019-03-03 23:38] star-buck opened #43 "C1: Installing in non-english doesnt translate FF"

[2019-03-04 13:47] ScarlettGatelyMoore commented on #42
Hi, I am acknowledging this. I read it as, new packaging in Netrunner repos, but I guess you mean you want a new image? @llelectronics says we need to wait for calamares to land back in debian. If you still want one I need @llelectronics to teach me how to make an image. I have never made one.

[2019-03-04 21:00] star-buck commented on #42
@ScarlettGatelyMoore : yes, this would be good for the meeting to look into.

[2019-03-11 10:54] llelectronics commented on #26
New C1 img with apt-daily disabled: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/armhf/netrunner-core/C1/netrunner-core-c1-20190311.1024-armhf.img.gz

[2019-03-17 14:07] llelectronics commented on #18
Seems fixed.

[2019-04-07 16:11] star-buck opened #44 "C1: installer doesnt resize partition"

[2019-04-07 16:11] star-buck opened #45 "C1: calamares isnt removed after installation and reboot"

[2019-04-07 16:17] star-buck commented on #42
@llelectronics : lets update all packages to latest on the C1 core img, so that there are no pending updates after install.

[2019-04-07 16:30] star-buck opened #46 "C1: Update Dialog Window: getting this error about "Gnome nicht eingerihctet, using Readline""
![Snap 2019-04-07 at 18 29 33](https://user-images.githubusercontent.com/840070/55686581-378afa00-5963-11e9-8164-9dc3d283b25f.png)

[2019-04-07 16:31] star-buck commented on #46
das hatte ich bisher noch nie gesehen in diesem Dialog Fenster

[2019-04-07 16:33] star-buck opened #47 "C1: Yakuake always comes up as taskmanager process and stays there over a minute before it fizzles away"
![Snap 2019-04-07 at 18 32 42](https://user-images.githubusercontent.com/840070/55686605-9fd9db80-5963-11e9-8643-d16427958857.png)

[2019-04-07 16:37] #40 closed, assigned to llelectronics, kbroulik

[2019-04-07 16:37] star-buck commented on #43
not fixed. installing in German still has firefox esr in English.

[2019-04-07 17:05] llelectronics commented on #46
Thats a warning that debconf spits out now when it can't find the gnome3 dialog option.
Is it failing after this update? If yes then this is the actual issue.

[2019-04-07 17:07] llelectronics commented on #45
We removed calamares from the remove list in 2016, because it would remove the fs_resize script which resizes the partition.
As this is now done in calamares and not reboot it should be safe to remove calamares.
Needs testing.

[2019-04-07 17:29] llelectronics commented on #43
The issue is it tries to download a package that isn't there anymore as calamares is not refreshing the package cache before trying to install the firefox locale package.
Adding Adriaan here.
Just as info. We are using Calamares 3.2.4 from Debian Buster repositories. Is there a way to force an "apt update" run to refresh the package cache in cala before it tries installing a new package?

[2019-04-07 17:32] llelectronics commented on #42
Just adding this as info. This is the consequence of C1 images based on buster and not a snapshot. This issue will reappear as soon as debian releases Updates after we built our image.

[2019-04-07 17:54] star-buck commented on #42
Yes sure, still we can update from time to time and do a 19.01.1 iso/img
change during the two years release cycle.

[2019-04-07 19:59] llelectronics commented on #44
Tested it a few times. Resizing works for me with the SanDisk Extreme U3 A1 64GB card.
I assume the timeout for the command to finish might be to short for your card maybe.

[2019-04-08 07:14] star-buck commented on #44
It was a normal 16GB disk that i used for last C1 fine too (the one we
shipped with 17.01).

[2019-04-08 07:33] llelectronics commented on #44
Very strange. Can you retry it with that card and running calamares from terminal with debug mode to see if the resizing script is sending a return 0 or if it aborts because of the timeout.

[2019-04-08 07:34] star-buck commented on #44
Sure, will flash the card again and debug.

[2019-04-08 08:21] llelectronics commented on #45
Turns out calamares removes packages before resize. So we can't remove calamares as the resize has to  happen as last step.

[2019-04-08 10:37] llelectronics commented on #26
New C1 img available: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/armhf/netrunner-core/C1/netrunner-core-c1-20190408.0920-armhf.img.gz

[2019-04-08 19:37] star-buck commented on #44
nach installation und neustart des letzten img:
![Snap 2019-04-08 at 21 33 45](https://user-images.githubusercontent.com/840070/55751499-1e0eae80-5a46-11e9-9a43-0257d6d7fc02.png)
![Snap 2019-04-08 at 21 33 57](https://user-images.githubusercontent.com/840070/55751501-1fd87200-5a46-11e9-82b1-6de77cb3e63b.png)

Dolphin zeigt nur 2.3GB frei an. Wieso kann Calamares manchmal nicht formattieren?
Hat es

[2019-04-08 19:41] star-buck commented on #44
@adriaandegroot @llelectronics @davidedmundson
does this all look normal after installation, but the not expanded size?
![Snap 2019-04-08 at 21 40 07](https://user-images.githubusercontent.com/840070/55751868-f704ac80-5a46-11e9-9a05-5be5d407a061.png)

[2019-04-08 19:41] star-buck commented on #44
thats c1 core system after calamares install btw.

[2019-04-08 19:57] llelectronics commented on #44
Something seems to be wrong. I cannot reproduce it. I tried 3 microsd cards today. Resizing worked without any issue.
Have you restarted via the calamares reboot option after it finished the installation?
Have you tried another microsd card just to be sure it isn't that specific card.
What about the fsresizer module stuff that we talked on telegram about? Have you tried that yet? It worked for me

[2019-04-08 20:45] star-buck commented on #44
I thought you switched to that already!!

[2019-04-08 20:48] llelectronics commented on #44
I was testing this during the IMG build. This IMG has a higher timeout for the deffered_resize module only.

[2019-04-08 20:48] star-buck opened #48 "change fs_resize with fsresizer Module"

[2019-04-09 07:26] star-buck commented on #44
im trying some other method to flash the img to card, maybe diskimager is bonkers for latest img...

[2019-04-09 14:28] llelectronics commented on #26
New C1 img with fsresizer as module instead of deferred_resize : http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/armhf/netrunner-core/C1/netrunner-core-c1-20190409.1024-armhf.img.gz

[2019-04-09 23:23] star-buck commented on #48
worked (same sdcard where the other method failed 3 times):
![Snap 2019-04-10 at 01 22 46](https://user-images.githubusercontent.com/840070/55841383-3d353b00-5b2f-11e9-873d-56e420a10bd5.png)

[2019-04-09 23:23] star-buck commented on #48
will now test with some more sdcards

[2019-04-09 23:23] #48 closed, assigned to llelectronics

[2019-04-09 23:24] star-buck commented on #44
works with fsresizer:
![Snap 2019-04-10 at 01 22 46](https://user-images.githubusercontent.com/840070/55841431-6229ae00-5b2f-11e9-9b21-49744875e378.png)

[2019-04-09 23:25] #44 closed, assigned to llelectronics

[2019-04-09 23:25] #43 closed, assigned to llelectronics, adriaandegroot

[2019-04-09 23:25] #42 closed, assigned to ScarlettGatelyMoore, llelectronics

[2019-04-09 23:26] #18 closed, assigned to llelectronics

[2019-04-09 23:28] star-buck opened #49 "calamares: even though slideshow is updated slide4.png for 1 year, C1 still ships the old one (compare 350mb vs. 450MB)"
https://github.com/netrunner-core/calamares-core/blob/master/etc/calamares/branding/netrunner-core/slide4.png

[2019-04-10 08:04] llelectronics commented on #49
C1 is not using this calamares-core package as it needs a different configuration for fsresizer and so on.
I'll updated the slideshow here: https://github.com/netrunner-odroid/c1-calamares-core

[2019-04-10 09:04] star-buck commented on #49
Sounds good.

[2019-04-10 09:17] star-buck opened #50 "Netrunner Core IMG - Checklist (keep open)"
c1 img installed programs (20+calamares=21):
![Snap 2019-04-13 at 14 12 45](https://user-images.githubusercontent.com/840070/56079591-27f23200-5df7-11e9-9457-91121cd8df3e.png)

**graphics**:
* gwenview

**internet**:
* firefox
* x11vncserver

**multimedia**:
* pulseaudio volume control

**office**:
* okular (should go to utilities)

**settings**:
* system settings

**system**:
* (calamares)
* dolp

[2019-04-10 09:22] star-buck commented on #50
current c1 img has 19 programs, is missing Update Manager and suse img writer

[2019-04-10 09:46] star-buck opened #51 "current c1 img is missing Update Manager and synaptic"

[2019-04-10 10:13] llelectronics commented on #51
Is missing currently as it depends on synaptic.

[2019-04-10 10:27] star-buck commented on #51
Then we manually can add it?

[2019-04-10 10:29] llelectronics commented on #51
Yes if you manually add synaptic you can install mintupdate from the repo

[2019-04-10 10:50] star-buck commented on #51
how can we get an img that has synaptic and update manager installed, that doesnt uninstall them when updating and as soon as synaptic comes back into the official repo, it works normally?
I need such an img for C1 to ship.

[2019-04-10 10:52] star-buck opened #52 "Netrunner Core ISO - Checklist (keep open)"
Installed programs (21+calamares=22):
![Snap 2019-04-13 at 14 12 45](https://user-images.githubusercontent.com/840070/56079538-5f141380-5df6-11e9-90df-fd55e9df1b53.png)

**graphics**:
* gwenview

**internet**:
* firefox
* x11vncserver

**multimedia**:
* pulseaudio volume control

**office**:
* okular (should go to utilities)

**settings**:
* system settings

**system**:
* (calamares)
* dolphin
* i

[2019-04-10 12:02] llelectronics commented on #51
I could write a live build hook that grabs the deb from debian unstable and installs it together as getting mint update again as a temporary workaround for the issue. (its the quickest workaround possible and easily done in contrast to cloning synaptics source and building it on dci which will land in our repositories then and could get a higher priority than the debian repos version when later ap

[2019-04-10 12:10] star-buck commented on #51
Lets do this then as temp. workaround.
We can aim for a 19.06 release for desktop and core versions once buster
becomes really stable.

[2019-04-10 17:32] star-buck commented on #51
any success for it + new img?

[2019-04-10 19:05] llelectronics commented on #51
There is a test image already here which uses the workaround script. Its a first build I did not test it yet. Will do this tomorrow: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/armhf/netrunner-core/C1/netrunner-core-c1-20190410.1809-armhf.img.gz

[2019-04-11 08:39] llelectronics commented on #26
New C1 img with slideshow fix and workaround for installing synaptic and mintupdate: http://ds9-eu.s3-eu-central-1.amazonaws.com/dci/images/1901/armhf/netrunner-core/C1/netrunner-core-c1-20190410.1809-armhf.img.gz

[2019-08-24 08:14] #41 closed, assigned to llelectronics

[2019-08-24 08:18] star-buck opened #53 "Netrunner Core LNF (do not implement yet)"
- window deco:
-- border: no sideboders
-- shadow: very large, 70%
- mouse cursor: white classica
- gtk
-- themes: breeze
-- cursor: whiteclassica